
name: OpenTelemetry
on:
  check_suite:
    types:
      - completed
jobs:
  export:
    if: github.event.check_suite.app.slug != 'github-actions'
    runs-on: ubuntu-latest
    permissions:
      checks: read
      actions: read
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/checksuite@
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: http://135.232.224.86:8080
